extends toplevel 
block content 
      div(class="columns is-centered")
            div(class="column is-5-tablet is-4-desktop is-3-widescreen")
                  div(class="box main")
                        div(class="container")
                        h1= title 

                        div(class="error")= errorMessage 

                        form(method="post", action="/processLogin", class="form loginDialog")
                              div(class="field")
                                    label(class="label") E-Mail
                                    div(class="control")
                                          input(class="input", type="email", name="email", placeholder="someone@somedomain.org")

                              div(class="field")
                                    label(class="label") Password
                                    div(class="control")
                                          input(class="input", type="password", name="password", placeholder="your password")

                              input(type="submit", class="button is-info is-dark is-responsive", value="Sign In") 